*{
    margin: 0;
    padding:0px;
    box-sizing: border-box; 
}

body{
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    background-image: url("./picture/background.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}

::-webkit-scrollbar{
    background: #80d7f9;
}

::-webkit-scrollbar-thumb{
    background: #5cb6db;
    border-radius: 10px;
}

html{
    font-size:20px;
}

ul{
    list-style-type:none;
}

a{
    text-decoration: none;
}

p{
    text-align: justify;
    margin-left:.7rem;
    margin-right:.7rem;
}


/* ############################################################################ */

/*  nav */
#navbar{
    opacity:.9;
}

#logo_div:hover{
    box-shadow: 1px 1px 4px 1px #5cb6db;
}

#navbar_id ul>li>a{
    font-size:.8rem;
}

#navbar_id ul>li>a>i{
    margin-right: .5rem;
    font-size:.8rem;
    color:white;
}

#right_navbar>button,a{
    font-size:.8rem;
}

/* ############################################################################ */

/* header */
header{
    z-index:-1;
    height:50rem;
    padding-top:15rem;
}

/* ##############################################################################*/

/* main */

/* section-1 : hakkımda */
#hakkimda{
    padding:9rem;
}
#hakkimda_id p{
    display: -webkit-box;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-indent: 3rem;
}

/* section-2 : yetenekler */
#ability {
   padding: 6rem; 
}

#ability i{
    color:#212529;
    font-size: 3rem;
}

.ability_circle{
    padding: 1rem;
}

#ability .card{
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,.8);
}

#ability .card:hover{
   cursor:pointer;
   opacity:.7;
}

/* section-3: çalışmalar */
#calismalar{
    opacity:.9;
    padding:6rem;
}

#calismalar .card{
margin-bottom:2rem;
}

#calismalar .card .card-text{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#calismalar .card>img:hover{
    opacity:.8;
    cursor:pointer;
}

#incele:hover{
    cursor: pointer;
}

.fas{
    cursor: pointer;
}

/* section-4 : deneyimler */
#deneyimler img{
    width: 300px;
}

.clear:before{
    content:"";
    clear:both;
    display:block;
}

/* section-5 : iletisim */
#iletisim{
    padding:8rem;

}

.form-control::-webkit-input-placeholder {
    color:#fff;
}

#contact_form>.row>div{
    margin-bottom: .6rem;
}

#contact_form{
    background: transparent;
    padding:1rem;
    
}

/* ################################################################# */

/* footer */
footer{
    min-height: 20rem;
    width: auto;
    color:white;
}

/* footer : sosyal */
#social_media{
    position: fixed;
    right:0;
    top:40%;
}

/* back_to_top */
#back_top{
    position:fixed;
    right:0;
    bottom:0;
    width:3rem;
    padding-top:.5rem;
    margin-right: .4rem;
    margin-bottom: .4rem;
    border-radius: .4rem;
    opacity:.7;
    display: none;
}

#back_top:hover{
    opacity:.9;
}

#copy_right{
    background: #5cb6db!important;
}

@media screen and (max-width: 1400px){
    #navbar_id ul>li>a{
        font-size:.5rem;
    }

    .ability_circle{
        padding: .6rem;
    }

    .progress{
        height:.8rem;
    }

    #ability i{
        font-size: 2.5rem;
    }

    .arrow{
        font-size: 2.7rem;
    }
}

@media screen and (max-width: 1200px){
    #navbar_id ul>li>a{
        font-size:.7rem;
    }

    .ability_circle{
        padding: .5rem;
    }

    .progress{
        height: .8rem;
    }

    #ability i{
        font-size: 2rem;
    }

    .arrow{
        font-size: 2.5rem;
    }

    #iletisim{
        padding:2rem;
    }
}

@media screen and (max-width: 1000px){
    #navbar_id ul>li>a{
        font-size:.8rem;
    }
    
    #navbar_id ul{
        border-bottom: 1px solid white;
    }
    
    .ability_circle{
        padding: 1.5rem;
        font-size: 1.3rem;
    }

    #hakkimda{
        padding:3rem;
    }

    #iletisim{
        padding: 3rem;
    }

    #deneyimler img{
        width: 200px;
    }
}

@media screen and (max-width: 600px){
    #ability{
        padding:2rem;
    }

    .ability_circle{
        padding: .4rem;
        font-size: .9rem;
    }

    .progress{
        height: .7rem;
    }

    #ability i{
        font-size: 1.5rem;
    }
    
    #calismalar{
        padding:1rem;
    }

    .arrow{
        font-size: 2rem;
    }

    #hakkimda{
        padding: 1rem;
    }

    #iletisim{
        padding:1rem;
    }
}